@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

/*PROPRIETES GENERAL*/
* {
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
    box-sizing: border-box;
  }
  
  a {
      text-decoration: none; /*Enleve les surlignements des a*/
      color: black; /*Mettre en noir tout les a de la page*/
  }
  
  li {
      list-style-type: none; /*Enleve les puces des li*/
  }
  
  .bgvert {
      background-color: #EDF4EC;
  }
  
  .flex {
      display: flex; 
      flex-wrap: wrap; 
  }
  
  .spaceBetween {
      justify-content: space-between; /*Mettre des espaces*/
  }
  
  .alignCenter {
      align-items: center;
  }
  
  .bold {
      font-weight: 600;
  }

  .container
/*********************************PAGE DOCUMENTATION******************************/

/*DEMI CERCLE EN HAUT DE LA PAGE*/
.cercle{
    position: absolute;
    background-color: #EDF4EC;
    border-radius: 1000px;
    /*box-shadow: 0 0 1000px 45px ;*/
    left: 0px;
    top: -900px;
    width: 100%;
    height: 1500px;
    z-index: -1;
}


/******************************SECTION TITRE DOCUMENTATION**************************/
.titre h1 {
    color: black;
    font-family: "Quicksand", serif;
    font-weight: 700;
    font-size: 40px;
    margin-top: 400px;
    text-align: center;
}

.titre h2 {
    color: black;
    font-family: "Quicksand", serif;
    font-weight: 600;
    font-size: 24px;
    margin-top: 180px;
    text-align: center;
}

.cerclerond{
    border-bottom-right-radius: 100px;
    height: 100px;
    width: 100px;
    position: absolute;
    background-color: #EDF4EC;
    /*box-shadow: 0 0 1000px 45px ;*/
    left: 110px;
    top: 878px;
    z-index: -1;
}

.lesTitres {
    .container{
        max-width: 1000px;
        margin: auto;
        width: 100%
    }
}