@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

/*PROPRIETES GENERAL*/
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
    box-sizing: border-box;
  }

  html{
    scroll-behavior: smooth;
  }

  a {
      text-decoration: none; /*Enleve les surlignements des a*/
      color: black; /*Mettre en noir tout les a de la page*/
  }
  
  li {
      list-style-type: none; /*Enleve les puces des li*/
  }
  
  .bgvert {
      background-color: #EDF4EC;
  }
  
  .flex {
      display: flex; 
      flex-wrap: wrap; 
  }
  
  .spaceBetween {
      justify-content: space-between; /*Mettre des espaces*/
  }
  
  .alignCenter {
      align-items: center;
  }
  
  .bold {
      font-weight: 700;
  }

  .container {
    max-width: 1000px;
	margin: auto;
	width: 100%
  }

  .column{
    flex-direction: column;
}

  .width30{
	width : 30%;
}

.width40{
	width : 40%;
}

.gap {
    gap:20px;
}

.top {
    margin-top:60px;
}

.bottom {
    margin-bottom : 80px;
}

.alignItems{
    align-items: center;
}

/*********************************PAGE DOCUMENTATION******************************/

/*DEMI CERCLE EN HAUT DE LA PAGE*/
/*HEADER*/
.cercle{
    position: absolute;
    background-color: #DBE9D9;
    border-radius: 1000px;
    /*box-shadow: 0 0 1000px 45px ;*/
    left: 0px;
    top: -1064px;
    width: 100%;
    height: 1500px;
    z-index: -1;
}

header{
    padding: 8px 64px;
    position: sticky;
    top: 0;
    z-index: 10;
}

header.scrolled{
    background-color: hsl(0, 0%, 100%);

}


/*****************************************HEADER PAGE LANDING************************************/
.btnAccueil {
    color: black;
    font-size: 14px;
}
.btnDon {
    background-color: #83B27B;
    font-size: 14px;
    color: #fff;
    padding: 14px 20px;
    border-radius: 30px;
}

.logo{
    width : 15%
}

/******************************SECTION TITRE DOCUMENTATION**************************/
.titres h1 {
    color: black;
    font-family: "Quicksand", serif;
    font-weight: 700;
    font-size: 40px;
    margin-top: 70px;
    text-align: center;
}

.titres h2 {
    color: black;
    font-family: "Quicksand", serif;
    font-weight: 600;
    font-size: 24px;
    margin-top: 80px;
    margin-bottom: 80px;;
    text-align: center;
}

.titre {
    font-size: 24px;
    font-weight: bold;
    position:relative;
    margin-left: 16px;
}

.titre::before {
    content:"";
    width: 64px;
    height: 64px;
    border-radius: 0 0 100% 0;
    position: absolute;
    background-color: #DBE9D9;
    top: -16px;
    left:-16px;
    z-index: -1;
}

/*****************************SECTION MENU LATERAL GAUCHE**************************/
.sommaire {   
    width:200px;
    height: 300px; 
    margin-left:16px;
}
.monSommaire { 
    padding:10px;
    background-color: #DBE9D9;
}

.monSommaire a {       
    font-weight: 600;
    font-size: 13px;
    font-weight: 500; 
    margin-left: 15px;       
}  
 
.sommaire {
   position : sticky;
    top: 112px;
}

.monSommaire li {
    list-style: decimal;
    margin-left: 19px;
    margin-bottom:16px;
    margin-top: 16px;
}

/*****************************SECTION GENERAL DE LA PAGE**************************/
.divGenerale {
    width: 80%;   
    margin-left: 30px;
    margin-top: 80px;
    margin-bottom: 30px;
}

/*les paragraphes*/
.leContexte p,
.leBenchmark p,
.Solution p,
.perspective p {
    font-size: 14px;
    font-weight: 500; 
    margin-left:25px;
    padding-top: 20px;
    line-height: 25px;
}

/***********************************SECTION CONTEXTE************************/

.P {  
    width:1100px;
    margin-top:20px;
}

.P img {
    width: 20%;
    object-fit: cover;
    margin-top:20px;
}
.P p {
    width: 70%;
}

.leContexte h4 {
    margin-top: 50px;   
}

/********************************SECTION PROBLEMATIQUE********************************/
.leProbleme p {
    font-size: 18px;
    font-weight: 500; 
    margin-left:25px;
    padding-top: 20px;
    line-height: 25px;
}


/***********************************SECTION LE BENCHMARK************************/
.leBenchmark ul {
    margin-left: 20px;
}

.leBenchmark p {
  padding-bottom:20px;
  padding-left:10px;
  margin-left:2px;
  font-weight: 600;
}

.leBenchmark li {
    font-size: 14px;
    font-weight: 500; 
    list-style: circle;
    line-height: 30px;
}

.BenchmarkImg  {  
    margin-bottom:20px; 
    margin-left: 230px;
}

.BenchmarkImg img {
    width: 150px;
    height: 150px;
    object-fit: cover; 
}

/********************************SECTION PERSONA********************************/
.lePersona img {
    width: 80%;
    object-fit: cover;
    margin-left: 80px;
    margin-top:40px;
}

/********************************SECTION USER FLOW********************************/
#Userflow h3 {
    margin-bottom: 25px;
}

.MesActions img {
    width: 70%;
    object-fit: cover;
    margin-left: 80px;
    margin-top:40px;
}


/********************************SECTION SOLUTION********************************/
/*section solution h4*/
.Solution h4 {
    font-weight: 500;
    font-size: 13px;
    font-weight: 700; 
    margin-left: 20px;
    margin-top:20px;   
}

/*section solution wireframe img*/
.WireframeImg img {
    width: 40%;
    object-fit: cover;
    padding-left: 25px;
    padding-top:20px;
}

.IdeationImg img {
    object-fit: cover;
    padding-left: 25px;
    padding-top:20px;
}

.MockupImg img {
    width: 40%;
    object-fit: cover;
    padding-left: 25px;
    padding-top:20px;
}

/*section perspective*/
.perspective ul {
    font-size: 14px;
    font-weight: 500; 
    margin-left:25px;
    padding-top:8px;
}

.perspective li {
    list-style: circle;
}

/*********************************SECTION TESTS UTILISATEURS AVANT ET APRES*********************************/
.testUtilisateur h4 {
    font-weight: 500;
    font-size: 13px;
    font-weight: 700; 
    margin-left: 20px;
    margin-top:20px;  
}

.testUtilisateur h3 {
    margin-top:20px;
    margin-bottom:20px;
}

.testUtilisateur p {
    font-size: 14px;
    font-weight: 500; 
    margin-left:25px;
    padding-top: 20px;
    line-height: 25px;
}

/*div img photo avant et après*/
.avantApres {
    border:1px solid red;  
}

.global {
    padding: 15px;
    border-radius: 10px;
}

.card {
    width: 250px;
    position: relative;
    display: block;
   background-color: #DBE9D9;
}

.card h4 {
    position: relative;
    display: block;   
}

.card img {
    width: 250px; 
    object-fit: cover;
    padding-left: 25px;
    padding-top:20px;   
}

.testUtilisateur li {
    margin-left:20px;
}

.profil p {
    font-size: 17px;
    font-weight: 600; 
}














section{
    scroll-margin-top: 128px;
}

.mt64{
    margin-top: 64px;
}


/*.tailleImg{
width: 30%;
height:  30%;
}

.imgUser{
    width: 18%;
    height: 18%;
}