@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

/*PROPRIETES GENERAL*/
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
    box-sizing: border-box;
  }
  
  a {
      text-decoration: none; /*Enleve les surlignements des a*/
      color: black; /*Mettre en noir tout les a de la page*/
  }
  
  li {
      list-style-type: none; /*Enleve les puces des li*/
  }
  
  .bgvert {
      background-color: #EDF4EC;
  }
  
  .flex {
      display: flex; 
      flex-wrap: wrap; 
  }
  
  .spaceBetween {
      justify-content: space-between; /*Mettre des espaces*/
  }
  
  .alignCenter {
      align-items: center;
  }
  
  .bold {
      font-weight: 700;
  }

  .container {
    max-width: 1000px;
	margin: auto;
	width: 100%
  }

  .width30{
	width : 30%;
}

.top {
    margin-top:60px;
}

.bottom {
    margin-bottom : 80px;
}

.alignItems{
    align-items: center;
}

/*********************************PAGE DOCUMENTATION******************************/

/*DEMI CERCLE EN HAUT DE LA PAGE*/
/*HEADER*/
.cercle{
    position: absolute;
    background-color: #aae79f;
    border-radius: 1000px;
    /*box-shadow: 0 0 1000px 45px ;*/
    left: 0px;
    top: -1064px;
    width: 100%;
    height: 1500px;
    z-index: -1;
}


header{
    padding: 8px 64px;
}

/*****************************************HEADER PAGE LANDING************************************/


.btnAccueil {
    color: black;
    font-size: 14px;
}
.btnDon {
    background-color: #83B27B;
    font-size: 14px;
    color: #fff;
    padding: 14px 20px;
    border-radius: 30px;
}

.logo{
    width : 20%
}

/******************************SECTION TITRE DOCUMENTATION**************************/
.titres h1 {
    color: black;
    font-family: "Quicksand", serif;
    font-weight: 700;
    font-size: 40px;
    margin-top: 70px;
    text-align: center;
}

.titres h2 {
    color: black;
    font-family: "Quicksand", serif;
    font-weight: 600;
    font-size: 24px;
    margin-top: 80px;
    margin-bottom: 80px;;
    text-align: center;
}

.titre {
    font-size: 24px;
    font-weight: bold;
    position:relative;
    margin-left: 16px;
}

.titre::before {
    content:"";
    width: 64px;
    height: 64px;
    border-radius: 0 0 100% 0;
    position: absolute;
    background-color: #DBE9D9;
    top: -16px;
    left:-16px;
    z-index: -1;
}


/*****************************SECTION MENU LATERAL GAUCHE**************************/
.sommaire {
    padding:10px;
    padding-top:20px;
    width:200px;
    height: 300px;
    background-color: #DBE9D9;
    margin-left:10px;
}

.monSommaire a {       
    font-weight: 600;
    font-size: 13px;
    font-weight: 500; 
    margin-left: 15px;
    line-height:40px;
}

.monSommaire li {
    list-style: decimal;
    margin-left: 19px;
}

/*****************************SECTION GENERAL DE LA PAGE**************************/
.divGenerale {
    width: 80%;
    border: 1px solid blue;
    margin-left: 30px;
    margin-top: 15px;
}

/*les paragraphes*/
.leContexte p,
.leProbleme p,
.leBenchmark p,
.Solution p,
.perspective p {
    font-size: 14px;
    font-weight: 500; 
    margin-left:25px;
    padding-top: 20px;
    line-height: 25px;
}

/*l'image du persona*/
.lePersona img {
    width: 80%;
    object-fit: cover;
    margin-left: 80px;
    margin-top:40px;
}

/*section user flow*/
.MesActions {
    width: 50%;
    font-weight: 500;
    font-size: 13px;
    font-weight: 500; 
    margin-left: 15px;
    line-height: 30px;
    padding-top:15px;
}

.MesActions li {
    margin-left:20px;
}

.User li {
    list-style: decimal;
}

/*section solution h4*/
.Solution h4 {
    font-weight: 500;
    font-size: 13px;
    font-weight: 700; 
    margin-left: 20px;
    margin-top:20px;   
}

/*section solution wireframe img*/
.WireframeImg img {
    width: 40%;
    object-fit: cover;
    padding-left: 25px;
    padding-top:20px;
}

.IdeationImg img {
    object-fit: cover;
    padding-left: 25px;
    padding-top:20px;
}

.MockupImg img {
    width: 40%;
    object-fit: cover;
    padding-left: 25px;
    padding-top:20px;
}

/*section perspective*/
.perspective ul {
    font-size: 14px;
    font-weight: 500; 
    margin-left:25px;
    padding-top:8px;
}

.perspective li {
    list-style: circle;
}

