@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.gap{
    gap: 15px;
}
html{
    scroll-behavior: smooth;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.logo{
    width : 15%
}
.alignItems{
    align-items: center;
}
.marginSection{
    padding: 50px 0px ;
}
.colorTexte{
    color: #83B27B;
    
}
.semibold{
    font-weight: 600;
}
.bold{
    font-weight: 700;
}
.bgColVert{
    background-color: #83B27B;
    height: 100vh;
    padding: 50px 0px
}
.marginDivHero{
padding: 0px 20px 0px 20px;
}
body{
    font-family: "Montserrat", serif;
    font-weight: 500;
}
.column{
    flex-direction: column;
}
.width50{
	width : 50%;
}
.width20{
	width : 20%;
}
.width23{
	width : 25%;
}
.width30{
	width : 30%;
}
.width47{
	width : 47%;
}
.width100{
    width: 100%;
}
.spaceBetween{
    justify-content: space-between;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
	max-width: 1000px;
	margin: auto;
	width: 100%
}

.titre {
    font-size: 40px;
    font-weight: bold;
    position:relative;
    margin-left: 16px;
    
}

.titre::before {
    content:"";
    width: 64px;
    height: 64px;
    border-radius: 0 0 100% 0;
    position: absolute;
    background-color: #DBE9D9;
    top: -16px;
    left:-16px;
    z-index: -1;
}

/*HEADER*/
.cercle{
    position: absolute;
    background-color: #DBE9D9;
    border-radius: 1000px;
    /*box-shadow: 0 0 1000px 45px ;*/
    left: 0px;
    top: -1064px;
    width: 100%;
    height: 1500px;
    z-index: -1;
}


header{
    padding: 8px 64px;
    position: sticky;
    top: 0;
    transition: 0.3s;
    z-index: 2;
}
header.scrolled{
    background-color: white;   
}
.btnAccueil{
    color: black;
    font-size: 14px;
}
.btnAccueil:hover{
    color: rgb(126, 126, 126);
    font-size: 14px;
    transition: 0.3s;
}
.btnDon{
    background-color: #83B27B;
    font-size: 14px;
    color: #fff;
    padding: 14px 20px;
    border-radius: 30px;
}
.btnDon:hover{
    background-color: #618b59;
    font-size: 14px;
    color: #ffffff;
    padding: 14px 20px;
    border-radius: 30px;
    transition: 0.3s;
}
/*Hero*/
.flecheHaut{
    width: 3%;
    position: fixed;
    bottom: 64px;
    right: 64px;
    z-index: 1;
    transform: rotate(180deg);
}
.flecheHaut:hover{
    transform: scale(1.1);
    transition: 0.3s;
    transform: rotate(180deg);
    
}
.imgHero{
    width: 45%;
    margin-top: 30px;
}
.arrow{
    display: inline-block;
    margin-top: 50px;
    transition: transform .3s cubic-bezier(.5, 0.05, 1, .5);
    animation: bounce 2s cubic-bezier(.5, 0.05, 1, .5) infinite;
}
@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    40% {
        transform: translateY(0px);
    }

    85% {
        transform: translateY(-16px);
    }

    95% {
        transform: translateY(0px);
    }

    97% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(0px);
    }
}
.divHero{
    width: 50%;
    margin: auto;
}
.textAlign{
    text-align: center;
}
h1{
    font-family: "Quicksand", serif;
    font-weight: bold;
    font-size: 32px;
    color: #000000;
    font-weight: bolder;
}
h2{
    font-family: "Quicksand", serif;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    margin-top: 20px;
}
.appGA{
 width: 20%;
 margin-top: 20px;
}
.cta{
    background-color: #fff;
    color: gray;
    margin-top: 30px;
    padding: 14px 20px;
    border-radius: 30px;
    display:inline-block
}


/*comment ça marche ?*/
.cercleEtapes{
    background-color: #dbe9d9;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 250px;
    top: 1500px;
    border-radius: 200px;
    z-index: -1;
}
.bgBande{
    background-image: url(assets/chemin.png);
    width: 100%;
    
    background-repeat: no-repeat;
    background-position: center;
}
.marginRapidement{
    margin-right: 10px;
    display: inline-block;
}
h3{
    color: black;
    font-family: "Quicksand", serif;
    font-weight: 900;
    font-size: 26px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.divEtapes{
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    cursor: pointer;
    color: #000;
    display: inline-block;
}
.divEtapes.actives{
    background-color: #83B27B;
    color: #fff;
    transition: 0.5s;
   
  
}
.cerclerond{
    border-bottom-right-radius: 100px;
    height: 100px;
    width: 100px;
    position: absolute;
    background-color: #aae79f;
    /*box-shadow: 0 0 1000px 45px ;*/
    left: 110px;
    top: 878px;
    z-index: -1;
}

h4{
    margin-bottom: 30px;
}

.textAligncenter{
    text-align: center;
}
.paraChiffre{
    font-size: 14px;
    margin-bottom: 20px;
}
.cardChiffres2{
    background-color: rgb(243, 243, 243);
    padding: 20px;
    border-radius: 30px;
    
}

.cardChiffres2 h4{
    font-weight: 400;
}

.cardChiffres2 img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.arrowcolortrp{
   
    font-size: 33px;
}



/*Ce qu’on vous propose ?*/
.spline{
 height: 100vh;
 position: absolute;
 opacity : 0;
 top:0;
 left: 0;
 transition: 0.4s;
}
.splineActive{
    opacity : 1;
}
.marginMarche{
    margin-bottom: 20px;
}
.liMarche{
    margin-bottom: 20px;
}
.relative{
    position: relative;
 
}
#images img:nth-child(1){
    position: static !important;
}


/*section Pourquoi rejoindre La Cagette ? */

.paraChiffre{
    font-size: 14px;
    margin-bottom: 20px;
}
.cardChiffres{
    padding: 15px;
    border-radius: 10px;
}

.marginTitre{
    margin-top: 25px;
}
.cardChiffres img{
    border-radius: 12px;
    width: 100%;
    object-fit: cover;
    height: 150px;
    filter : brightness(50%);
}
.cardChiffres h4{
    margin-bottom: 10px;
}
.card{
    position: relative;
    display: block;
    color: white;
    border-radius: 23px;
    background-color: #ffffff5e;
}



.card h4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
    text-shadow: 1px 1px black;

}
/*Quelque chiffres*/

.bouleblache{
    width: 249px;
    height: 249px;
    background-color: #ffffff;
    border-radius: 199px;
    padding: 50px;
    margin-bottom: 100px;
}
.bouleblache h4{
    font-size: 50px;
    margin-bottom: 11px
}

.backgroudimage{
    background-image: url(Assets/image\ 3.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 16px 0;
    position: relative;
    z-index: -2;
}
.backgroudimage h3{
    margin-top: 50px;
    
}

/*Ils ont rejoint la coopérative*/
.ilontrejoitcarte{
    gap: 12px;
    margin-bottom: 100px;
}
.ilontrejoitcarte img{
    width: 30%;
}
.malk{
    margin-bottom: 30px;
}
.withimg{
    width: 65%;
}

/*Footer*/

.bgFooter{
    background-image: url(Assets/background\ color\ green.png);
    width: 100%;
    margin: none;
}
footer p{
    font-family: "Quicksand", serif;
    font-weight: 700;
    color: white;
    font-size: 30px;
    margin-top: 150px;
    z-index: 2;
}
footer img{
    width: 48%;
    margin-top: 30px;
    margin-bottom: 150px;
    z-index: 2;

}

.bgblack{
    background-color: black;
    text-align: center;
    color: white;
    align-items: center;
    padding: 20px;
}

.bgblack p{
    font-weight: 300;
}


